<form id="chart-form">
    <div id="feature-form">
      <div class="form-element">
        <label for="from">From</label>
        <select
          name="from"
          id="from"
          class="currency-select"
        ></select>
      </div>
      <div>
        <div id="spacer"></div>
        <div id="icon-container">
          <img id="switch" src="images/Vector.png" alt="swap" />
        </div>
      </div>
      <div class="form-element">
        <label for="to">To</label>
        <select
          type="text"
          name="to"
          id="to"
          class="currency-select"
        ></select>
      </div>
    </div>
    <div>
      <button id="exchange-button" type="submit">View chart</button>
    </div>
  </form>
 
  
  