<div id="feature-tabs">
  <a class="feature-button" href="/currencyconverter"><div>Convert</div></a>
  <a class="feature-button" href=""><div>Send</div></a>
  <a class="feature-button" href="/currencycharts"><div>Charts</div></a>
  <a class="feature-button"><div>Alerts</div></a>
</div>
