<nav class="nav-items">
  <p id="logo">Xe Clone</p>
  <span id="main-nav" class="nav-items">
    <a href="/">Send Money</a>
    <a href="/currencyconverter">Converter</a>
    <a href="/currencycharts">Currency API</a>
    <a href="/">Tools</a>
    <a href="/">Resources</a>
  </span>
  <span id="SignIn-reg" class="nav-items">
    <a href="" id="signIn">Sign In</a>
    <button id="register-button" type="button">Register</button>
  </span>
</nav>
