<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head') %>
  </head>
  <body>
    <div id="container">
      <div id="top">
        <header><%- include('partials/header') -%></header>
        <div id="feature-title">
          <p>Currency Chart</p>
        </div>
        <div id="feature-container">
          <%- include('partials/featureTabs') -%>
          <div id="form-area"><%- include('partials/chartForm') -%></div>
        </div>
        <div id="table">
          
        </div>
      </div>
    </div>
  </body>
  <script type="module" src="javascripts/functions.js"></script>
  
</html>
